In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
import os
country_list = os.listdir("./1_data")
country_codes = {'AUS': 'Australia',
                 'AUT': 'Austria',
                 'BEL': 'Belgium',
                 'BGR': 'Bulgaria',
                 'BLR': 'Belarus',
                 'CAN': 'Canada',
                 'CHE': 'Switzerland',
                 'CHL': 'Chile',
                 'CZE': 'Czech Republic',
                 'DEUTE': 'Germany',
                 'DEUTNP': 'Germany',
                 'DEUTW': 'Germany',
                 'DNK': 'Denmark',
                 'ESP': 'Spain',
                 'EST': 'Estonia',
                 'FIN': 'Finland',
                 'FRACNP': 'France',
                 'FRATNP': 'France',
                 'GBRCENW': 'Great Britain',
                 'GBRTENW': 'Great Britain',
                 'GBR_NIR': 'Great Britain',
                 'GBR_NP': 'Great Britain',
                 'GBR_SCO': 'Great Britain',
                 'GRC': 'Greece',
                 'HKG': 'Hong Kong',
                 'HRV': 'Croatia',
                 'HUN': 'Hungary',
                 'IRL': 'Ireland',
                 'ISL': 'Iceland',
                 'ISR': 'Israel',
                 'ITA': 'Italy',
                 'JPN': 'Japan',
                 'KOR': 'South Korea',
                 'LTU': 'Lithuania',
                 'LUX': 'Luxembourg',
                 'LVA': 'Latvia',
                 'NLD': 'Netherlands',
                 'NOR': 'Norway',
                 'NZL_MA': 'New Zealand',
                 'NZL_NM': 'New Zealand',
                 'NZL_NP': 'New Zealand',
                 'POL': 'Poland',
                 'PRT': 'Portugal',
                 'RUS': 'Russia',
                 'SVK': 'Slovakia',
                 'SVN': 'Slovenia',
                 'SWE': 'Sweden',
                 'TWN': 'Taiwan',
                 'UKR': 'Ukraine',
                 'USA': 'United States'}

In [3]:
double_index_total = pd.DataFrame()
single_index_total = pd.DataFrame()
for country in country_list:
    country_dir = country
    
    # double index
    population = pd.read_csv("./1_data/" + country_dir + "/STATS/" + "Population.txt", sep = "\s+", header = 1)
    population['Year'] = population['Year'].astype('str')
    has_minus = population['Year'].str.contains('-')
    no_minus = ~has_minus
    population = population[no_minus].reset_index(drop=True)
    population['Year'] = population['Year'].str.replace('[\+\-]', '', regex=True)
    population['Age'] = population['Age'].astype('str')
    
    bltper = pd.read_csv("./1_data/" + country_dir + "/STATS/" + "bltper_1x1.txt", sep = "\s+", header = 1)
    bltper.rename(columns={'mx':'Central_death_rate_total', 'qx':'Probability_of_death_total', 'ax':'Average_length_of_survival_total', 'lx':'Number_of_survivors_total', 'dx':'Number_of_deaths_total', 'Lx':'Number_of_person-years_lived_total', 'Tx':'Number of person-years remaining_total', 'ex':'Life_expectancy_total'},inplace=True)
    bltper['Year'] = bltper['Year'].astype('str')
    has_minus = bltper['Year'].str.contains('-')
    no_minus = ~has_minus
    bltper = bltper[no_minus].reset_index(drop=True)
    bltper['Year'] = bltper['Year'].str.replace('[\+\-]', '', regex=True)
    bltper['Age'] = bltper['Age'].astype('str')
    two_index = pd.merge(population, bltper, on=['Year', 'Age'], how='outer')
    
    fltper = pd.read_csv("./1_data/" + country_dir + "/STATS/" + "fltper_1x1.txt", sep = "\s+", header = 1)
    fltper.rename(columns={'mx':'Central_death_rate_female', 'qx':'Probability_of_death_female', 'ax':'Average_length_of_survival_female', 'lx':'Number_of_survivors_female', 'dx':'Number_of_deaths_female', 'Lx':'Number_of_person-years_lived_female', 'Tx':'Number of person-years remaining_female', 'ex':'Life_expectancy_female'},inplace=True)
    fltper['Year'] = fltper['Year'].astype('str')
    has_minus = fltper['Year'].str.contains('-')
    no_minus = ~has_minus
    fltper = fltper[no_minus].reset_index(drop=True)
    fltper['Year'] = fltper['Year'].str.replace('[\+\-]', '', regex=True)
    fltper['Age'] = fltper['Age'].astype('str')
    two_index = pd.merge(two_index, fltper, on=['Year', 'Age'], how='outer')
    
    mltper = pd.read_csv("./1_data/" + country_dir + "/STATS/" + "mltper_1x1.txt", sep = "\s+", header = 1)
    mltper.rename(columns={'mx':'Central_death_rate_male', 'qx':'Probability_of_death_male', 'ax':'Average_length_of_survival_male', 'lx':'Number_of_survivors_male', 'dx':'Number_of_deaths_male', 'Lx':'Number_of_person-years_lived_male', 'Tx':'Number of person-years remaining_male', 'ex':'Life_expectancy_male'},inplace=True)
    mltper['Year'] = mltper['Year'].astype('str')
    has_minus = mltper['Year'].str.contains('-')
    no_minus = ~has_minus
    mltper = mltper[no_minus].reset_index(drop=True)
    mltper['Year'] = mltper['Year'].str.replace('[\+\-]', '', regex=True)
    mltper['Age'] = mltper['Age'].astype('str')
    two_index = pd.merge(two_index, mltper, on=['Year', 'Age'], how='outer')
    
    death_rates = pd.read_csv("./1_data/" + country_dir + "/STATS/" + "Mx_1x1.txt", sep = "\s+", header = 1)
    death_rates.rename(columns={'Female':'female_death_rate_period', 'Male':'male_death_rate_period', 'Total':'total_death_rate_period'},inplace=True)
    death_rates['Year'] = death_rates['Year'].astype('str')
    has_minus = death_rates['Year'].str.contains('-')
    no_minus = ~has_minus
    death_rates = death_rates[no_minus].reset_index(drop=True)
    death_rates['Year'] = death_rates['Year'].str.replace('[\+\-]', '', regex=True)
    death_rates['Age'] = death_rates['Age'].astype('str')
    two_index = pd.merge(two_index, death_rates, on=['Year', 'Age'], how='outer')
    
    cExposure_path = "./1_data/" + country_dir + "/STATS/" + "cExposures_1x1.txt"
    if os.path.exists(cExposure_path):
        cExposures = pd.read_csv(cExposure_path, sep = "\s+", header = 1)
        cExposures.rename(columns={'Female':'female_exposure_cohort', 'Male':'male_exposure_cohort', 'Total':'total_exposure_cohort'},inplace=True)
        cExposures['Year'] = cExposures['Year'].astype('str')
        has_minus = cExposures['Year'].str.contains('-')
        no_minus = ~has_minus
        cExposures = cExposures[no_minus].reset_index(drop=True)
        cExposures['Year'] = cExposures['Year'].str.replace('[\+\-]', '', regex=True)
        cExposures['Age'] = cExposures['Age'].astype('str')
        two_index = pd.merge(two_index, cExposures, on=['Year', 'Age'], how='outer')
    
    cMx_path = "./1_data/" + country_dir + "/STATS/" + "cMx_1x1.txt"
    if os.path.exists(cMx_path):
        cMx = pd.read_csv(cMx_path, sep = "\s+", header = 1)
        cMx.rename(columns={'Female':'female_death_rate_cohort', 'Male':'male_death_rate_cohort', 'Total':'total_death_rate_cohort'},inplace=True)
        cMx['Year'] = cMx['Year'].astype('str')
        has_minus = cMx['Year'].str.contains('-')
        no_minus = ~has_minus
        cMx = cMx[no_minus].reset_index(drop=True)
        cMx['Year'] = cMx['Year'].str.replace('[\+\-]', '', regex=True)
        cMx['Age'] = cMx['Age'].astype('str')
        two_index = pd.merge(two_index, cMx, on=['Year', 'Age'], how='outer')
    
    deaths = pd.read_csv("./1_data/" + country_dir + "/STATS/" + "Deaths_1x1.txt", sep = "\s+", header = 1)
    deaths.rename(columns={'Female':'female_deaths', 'Male':'male_deaths', 'Total':'total_deaths'},inplace=True)
    deaths['Year'] = deaths['Year'].astype('str')
    has_minus = deaths['Year'].str.contains('-')
    no_minus = ~has_minus
    deaths = deaths[no_minus].reset_index(drop=True)
    deaths['Year'] = deaths['Year'].str.replace('[\+\-]', '', regex=True)
    deaths['Age'] = deaths['Age'].astype('str')
    two_index = pd.merge(two_index, deaths, on=['Year', 'Age'], how='outer')
    
    exposures = pd.read_csv("./1_data/" + country_dir + "/STATS/" + "Exposures_1x1.txt", sep = "\s+", header = 1)
    exposures.rename(columns={'Female':'female_exposure_period', 'Male':'male_exposure_period', 'Total':'total_exposure_period'},inplace=True)
    exposures['Year'] = exposures['Year'].astype('str')
    has_minus = exposures['Year'].str.contains('-')
    no_minus = ~has_minus
    exposures = exposures[no_minus].reset_index(drop=True)
    exposures['Year'] = exposures['Year'].str.replace('[\+\-]', '', regex=True)
    exposures['Age'] = exposures['Age'].astype('str')
    two_index = pd.merge(two_index, exposures, on=['Year', 'Age'], how='outer')
    
    two_index['Year'] = two_index['Year'].str.replace('[\+\-]', '', regex=True)
    #two_index['Country'] = country_dir
    #two_index['Country_name'] = two_index['Country'].map(country_codes)
    two_index['Country'] = country_codes.get(country_dir)
    double_index_total = pd.concat([double_index_total, two_index], axis=0)
    
    # single index
    births = pd.read_csv("./1_data/" + country_dir + "/STATS/" + "Births.txt", sep = "\s+", header = 1)
    births['Year'] = births['Year'].astype('str')
    has_minus = births['Year'].str.contains('-')
    no_minus = ~has_minus
    births = births[no_minus].reset_index(drop=True)
    births['Year'] = births['Year'].str.replace('[\+\-]', '', regex=True)
    
    life_exp_period = pd.read_csv("./1_data/" + country_dir + "/STATS/" + "E0per.txt", sep = "\s+", header = 1)
    life_exp_period.rename(columns={'Female':'female_exp_period', 'Male':'male_exp_period', 'Total':'total_exp_period'},inplace=True)
    life_exp_period['Year'] = life_exp_period['Year'].astype('str')
    has_minus = life_exp_period['Year'].str.contains('-')
    no_minus = ~has_minus
    life_exp_period = life_exp_period[no_minus].reset_index(drop=True)
    life_exp_period['Year'] = life_exp_period['Year'].str.replace('[\+\-]', '', regex=True)
    
    single_index = pd.merge(births, life_exp_period, on=['Year'], how='outer')
    single_index['Year'] = single_index['Year'].str.replace('[\+\-]', '', regex=True)
    
    #single_index['Country'] = country_dir
    single_index['Country'] = country_codes.get(country_dir)
    single_index_total = pd.concat([single_index_total, single_index], axis=0)

In [4]:
double_index_total=double_index_total[(double_index_total['Year'].astype('int') >= 1950) & (double_index_total['Year'].astype('int') <= 2020)]

In [5]:
double_index_total.to_csv('double_index.csv', index=False)
single_index_total.to_csv('single_index.csv', index=False)

In [6]:
single_index_total.tail(10)

,Year,Female,Male,Total,female_exp_period,male_exp_period,total_exp_period,Country
79,2012,1931407,2021434,3952841,81.18,76.45,78.85,United States
80,2013,1919227,2012954,3932181,81.19,76.45,78.85,United States
81,2014,1947375,2040701,3988076,81.27,76.50,78.92,United States
82,2015,1942336,2036161,3978497,81.15,76.34,78.76,United States
83,2016,1927692,2018183,3945875,81.19,76.24,78.73,United States
84,2017,1882615,1972885,3855500,81.19,76.19,78.70,United States
85,2018,1853533,1938179,3791712,81.35,76.34,78.85,United States
86,2019,1830094,1917446,3747540,81.48,76.46,78.97,United States
87,2020,1765555,1848092,3613647,79.87,74.34,77.05,United States
88,2021,1790876,1873416,3664292,79.37,73.62,76.43,United States

In [7]:
single_index_total.shape

(1054, 8)

In [8]:
double_index_total.shape

(55167, 45)

In [9]:
double_index_total.head(10)

,Year,Age,Female,Male,Total,Central_death_rate_total,Probability_of_death_total,Average_length_of_survival_total,Number_of_survivors_total,Number_of_deaths_total,...,female_death_rate_cohort,male_death_rate_cohort,total_death_rate_cohort,female_deaths,male_deaths,total_deaths,female_exposure_period,male_exposure_period,total_exposure_period,Country
3219,1950,0,172578.32,180386.68,352965.00,0.04303,0.04158,0.19,100000.0,4158.0,...,0.036394,0.046702,0.041660,6602.0,8878.0,15480.0,175930.40,183805.26,359735.66,Canada
3220,1950,1,164217.66,171611.88,335829.54,0.00322,0.00322,0.50,95842.0,309.0,...,0.003002,0.003557,0.003286,489.0,618.0,1107.0,168007.38,175320.49,343327.87,Canada
3221,1950,2,156429.78,163412.42,319842.20,0.00184,0.00184,0.50,95533.0,175.0,...,0.001676,0.001903,0.001792,252.0,347.0,599.0,159503.19,166476.03,325979.22,Canada
3222,1950,3,149213.76,155786.65,305000.41,0.00158,0.00158,0.50,95358.0,150.0,...,0.000935,0.001289,0.001116,216.0,291.0,507.0,157195.10,164053.29,321248.39,Canada
3223,1950,4,142568.70,148734.97,291303.67,0.00117,0.00117,0.50,95208.0,112.0,...,0.000635,0.000989,0.000816,160.0,187.0,347.0,144889.94,151169.28,296059.22,Canada
3224,1950,5,136486.68,142255.16,278741.84,0.00096,0.00096,0.50,95096.0,91.0,...,0.000597,0.000774,0.000687,116.0,160.0,276.0,140576.03,146602.76,287178.79,Canada
3225,1950,6,130970.05,136343.22,267313.27,0.00094,0.00094,0.50,95005.0,89.0,...,0.000484,0.000827,0.000659,99.0,160.0,259.0,134814.90,140489.93,275304.83,Canada
3226,1950,7,126008.65,130998.91,257007.56,0.00084,0.00084,0.50,94916.0,80.0,...,0.000348,0.000655,0.000504,91.0,134.0,225.0,130497.66,135861.20,266358.86,Canada
3227,1950,8,121604.31,126223.99,247828.30,0.00086,0.00086,0.50,94835.0,81.0,...,0.000332,0.000609,0.000474,89.0,128.0,217.0,124057.56,128992.98,253050.54,Canada
3228,1950,9,117753.04,122010.22,239763.26,0.00067,0.00067,0.50,94754.0,63.0,...,0.000403,0.000552,0.000479,61.0,104.0,165.0,121193.40,125822.97,247016.37,Canada

In [10]:
two_index['Year'].unique()

array(['1933', '1934', '1935', '1936', '1937', '1938', '1939', '1940',
       '1941', '1942', '1943', '1944', '1945', '1946', '1947', '1948',
       '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956',
       '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964',
       '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972',
       '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980',
       '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021', '2022', '1852', '1853', '1854', '1855', '1856', '1857',
       '1858', '1859', '1860', '1861', '1862', '1863', '1864', '1865',
       '1866', '1867', '1868', '1869', '1870', '1871', '1872', '1873',
       '1874', '1875', '1876', '1877', '1878', '1879', '1880', '1881',
       '1882', '1883', '1884', '1885', '1886', '1887', '1888', '1889',
       '1890', '1891', '1892', '1893', '1894', '1895', '1896', '1897',
       '1898', '1899', '1900', '1901', '1902', '1903', '1904', '1905',
       '1906', '1907', '1908', '1909', '1910', '1911', '1912', '1913',
       '1914', '1915', '1916', '1917', '1918', '1919', '1920', '1921',
       '1922', '1923', '1924', '1925', '1926', '1927', '1928', '1929',
       '1930', '1931', '1932'], dtype=object)

In [11]:
two_index.loc[two_index['Country'] == 'USA', 'Year'].unique()

array([], dtype=object)

In [12]:
two_index.loc[(two_index['Country'] == 'United States') & (two_index['Year'].astype('int') >=1950) & (two_index['Year'].astype('int') <= 2020), 'Year'].unique()

array(['1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957',
       '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965',
       '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973',
       '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981',
       '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020'],
      dtype=object)